/* Add CSS styling here */
/*Reset*/
html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}
/*General Styles*/
    *{
        /*border: solid 1px gray;*/
    }
    body{
        background:lavender;
    }
    h1, h2{
        font-family: 'Permanent Marker', cursive;
        color: darkslateblue;
    }
    h3{
        font-family: 'Short Stack', cursive;
        font-size: 20px;
        color: lavender;
    }
/*Navbar*/
header{
    display: flex;
    justify-content: space-between;
    margin: 2%;
}
header h2{
    font-size: 20px;
}
nav a{
    text-decoration: none;
    font-family: 'Short Stack', cursive;
}
nav a:hover{
    color:slateblue;
}
/*Hero Image*/
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
    margin: 4%;
    background-image: url("/images/hero_com.jpg");
    background-size: cover;
}
.hero h1{
    font-size: 45px;
}
/*Gallery*/
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5%;
    margin: 2% 0;
    background: rgb(153,146,224);
    background: linear-gradient(90deg, rgba(153,146,224,1) 0%, rgba(87,104,210,1) 0%, rgba(255,157,240,1) 100%);
    background-size: cover;
}
.gallery div{
    width: 30%;
}
/*Footer*/
footer{
    display: flex;
    justify-content: center;
    background: radial-gradient(circle, rgba(185,87,210,1) 0%, rgba(153,146,224,1) 100%);
    padding: 5%;
    height: 100%;
}    
footer h4{
    width: 13%;
    margin: 0;
}
footer nav{
    display: flex;
    justify-content: space-evenly;
}
















